{{! Top menu  }}
<header>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="news">News</a>
    <a href="contact">Contact</a>
    <a href="about">About</a>
    <a href="login" class="split">Login</a>
  </div>
</header>