<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Launch Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{! Body of the page }}
    <h2>Toggle Dark/Light Mode</h2>
    <button onclick="myFunction()">Toggle dark mode</button>
    <h1> Login Page</h1>
    <script>
      function myFunction() { var element = document.body;
      element.classList.toggle("dark-mode"); }
    </script>
  </body>
</html>